
:root{
    background-color: rgb(145, 142, 116);

}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
    font-size: 25px;
    text-decoration: 
}

body{
    color: rgb(73, 69, 27);
    font-style: oblique;

}

footer{
    
}

